html {
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
}
body {
  color:#333;
  font-size:1.4rem;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;  
}
@font-face {
  font-family: YuGothicM;
  font-weight: normal;
  src: local('YuGothic-Medium'),
       local('Yu Gothic Medium'),
       local('YuGothic-Regular');
}
@font-face {
  font-family: YuGothicM;
  font-weight: bold;
  src: local('YoGothic-Bold'),
       local('Yu Gothic');
}

.clear {
  clear: both;
  width: 100%;
}
.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


/*------------------------------------------*
* loading
*------------------------------------------*/
#over{
width: 100%;
height: 100%;
display: flex;
  justify-content: center;
  align-items: center;
position:fixed;
left: 0;
top: 0;
background-color: rgba(255,255,255,0.8);
z-index: 9999;
}
#over .loader {
  color: #408CE0;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
#over .loader_sp{
display:none;
font-size:3rem;
color:#408CE0;
line-height: 1.5;
	-webkit-animation:blink 0.5s ease-in-out infinite alternate;
    -moz-animation:blink 0.5s ease-in-out infinite alternate;
    animation:blink 0.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

/*------------------------------------------*
* float
*------------------------------------------*/
.floatL{
  float: left;
}
.floatR{
  float: right;
}
.floatN{
	float:none;
}

.txtL{
  text-align:left;
}

.txtR{
  text-align:right;
}

.txtC{
  text-align:center;
}

/*------------------------------------------*
* margin
*------------------------------------------*/
.margin_both2em{
    margin:2em 0;
}
.margin_top2em{
    margin-top: 2em;
}
.margin_bottom2em{
    margin-bottom:2em;
}

.margin_both3em{
    margin: 3em 0;
}
.margin_all3em{
    margin:3em;
}
.margin_top3em{
    margin-top: 3em;
}
.margin_bottom3em{
    margin-bottom: 3em;
}


/*------------------------------------------*
* indent
*------------------------------------------*/
.in{
	margin-left:1em;
}
.ind{
	text-indent:1em;	
}
.indb{
	margin:2em 0 1em 1em;
	font-weight:bold
}
.indm{
	text-indent:-1em;
	margin:0.5em 0 0.5em 0;
    padding-left:1.5em;
    -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
max-width: 100%;
}
.indmw{
	text-indent:-1em;
    padding-left:2.5em;

    -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
max-width: 100%;
}
.indmh{
	text-indent:-1em;
    padding-left:3.5em;
    -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
max-width: 100%;
}

/*------------------------------------------*
* border
*------------------------------------------*/
.border_none{
border: none;
}

/*------------------------------------------*
* font
*------------------------------------------*/
.fsize14{
	font-size:1.4rem;	
}
.fsize16{
	font-size:1.6rem;	
}
.fsize18{
	font-size:1.8rem;	
}
.fsize20{
	font-size:2rem;	
}
.fsize22{
	font-size:2.2rem;	
}
.fsize24{
	font-size:2.4rem;	
}
.fsize30{
	font-size:3rem;	
}
.fsize36{
	font-size:3.6rem;	
}
.bold{
	font-weight:bold;	
}
small{
font-size: 1.2rem;
}
/*------------------------------------------*
* color
*------------------------------------------*/
.red {
  color: #D11E2D;
}
.blue{
  color:#408CE0;	
}
.black {
  color: #000;
}
.orange{
	color:#FF9000;	
}
.green{
color:#41AA00;
}
.pink{
	color:#CF6687;
}
.gray{
color:#9D9D9D;
}

label.error{
color: #FF0000;
}

/*------------------------------------------*
* a img tag
*------------------------------------------*/
a,
a img {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

a:link, a:visited {
  text-decoration: none;
  color:#408ce0;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  color:#F08600;
}

a:hover img, a:active img, a:focus img {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
a.links{
position: relative;
padding-left:0.8em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}
a.links.top{
margin-right: 1em;
}
a.links.small{
font-size: 1.2rem;
}
a.links:before{
content:"";
width:1.25em;
height:1.25em;
display: block;
background-image: url("../images/icon_right.png");
background-size:50% 50%;
background-position:center left;
background-repeat: no-repeat;
position: absolute;
left:0;
top:2px;
}
a.links.red{
  color: #D11E2D;
}
a.links.red:hover:before,
a.links.red:hover{
opacity: 0.7;
}
a.links.red:hover:before,
a.links.red:before{
background-image: url("../images/icon_right_red.png");
}

a.links:hover:before{
background-image: url("../images/icon_right_org.png");
}

/*------------------------------------------*
* iOSでTEL link無効
*------------------------------------------*/
a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}


img[class*="wp-image-"], img[class*="attachment-"] {
    width: auto;
    height: auto;
    max-width: 100%;
}

img {
  vertical-align: middle;
  line-height: 1;
}



/*------------------------------------------*
* iOSでのデフォルトスタイルをリセット 
*------------------------------------------*/
button,
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

	/*iPhoneセレクト拡大防止*/
	select,option,textarea,input{
	font-size:16px;
    }
    select,option{
        -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	}

a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}

@media screen and (max-width:1200px) {
}
@media screen and (max-width:1000px) {
}
@media screen and (max-width:768px) {
}
@media screen and (max-width:640px) {
}
@media screen and (max-width:480px) {
#over{
background-color: rgba(255,255,255,0.9);
}
#over .loader{
display: none;
}
#over .loader_sp{
width: 100%;
height: 100%;
display: flex;
  justify-content: center;
  align-items: center;
font-size:3rem;
color:#408CE0;
}
a.links:before {
top:0;
}

a.links{
display: flex;
  justify-content:flex-start;
  align-items: center;
}
a.links:before{
position: relative;
}

}
@media screen and (max-width:320px) {
}



